section {
  height: 100vh
  font-family: Roboto,Helvetica,Arial,sans-serif;
  background: #fff;
  color: #222;
  font-size: 1.25rem;
}

h1 {
  font-weight: bold;
}

mark {
  background-color: transparent;
  background-image: linear-gradient(to bottom, #0000 67%,#0001 67%);
}

.orange {
  color: orange;
}

.btc {
  font-weight: 800;
  color: orange;
  transform: rotate(-30deg);
}

ul {
  list-style: none;
}

.home {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  background: #fff;
  color: #222;
  display: flex;
  align-items: center;
  position: relative;
  min-width: 300px;
  min-height: 100vh;
  background: #fff;
  color: #222;
  font-size: 1rem;
  max-width: 550px;
  margin: auto;
}

.home-content {
  margin: 10vh auto;
  padding: 1rem;
}

.conf-list {
  display: flex;
}

.conf-list ul {
  margin: 0px;
}

.information {
  border: 2px solid orange;
  display: flex;
  color: orange;
  font-weight: bold;
}

.location {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: orange;
}

.address {
  padding: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.bicycle {
  font-size: 2rem;
  padding: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.arrow {
  font-size: 2rem;
  padding: 1rem;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  font-weight: normal;
}

.location:hover {
  background-color: orange;
  color: white;
}

.date {
  border-right: 2px solid orange;
  max-width: 25%;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.date span {
  font-size: 2rem;
}

.jumbotron {
  background-color: #E5E5E5;
  padding: 1rem;
}


@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}
  .conf-list {
    display: block;
  }
  .conf-list ul {
    padding-left: 20px;
  }
  .bicycle {
    display: none;
  }
}

