{{ partial "head.html" . }}
<section>
  <div class="home">
    <div class="home-content">
      <h1>💀 RIP, <a class="orange">Orange Coin</a></h1>
      <p><mark>Bitcoin</mark> est bientôt décédé, vous ne le saviez pas ? Les « experts »
      nous ont prevenus: ce protocole inutile et inefficace se dirige vers une
      mort lente et sans issue. Sous les applaudissements de nouveaux
      concurrents plus performants et de nouvelles solutions innovantes, ses
      derniers blocks devancent son agonie.</p>
      <p>Venez assister aux funérailles du réseau <mark>Bitcoin</mark>
      <mark>cet été</mark> à <mark>Paris.</mark></p>

      <div class="information">
        <div class="date"><span>4</span></br>Juillet</div>
        <a class="location" href="#location">
            <div class="address">7 Rue Louise Weiss </br> 75013 Paris </div>
            <div class="arrow">🚴 ⬎</div>
        </a>
      </div>

      <p>
      <mark>OrangeCoinRIP</mark> est un événement ayant pour but de rassembler
      un public averti autour de présentations techniques tenues par des
      mathématiciens, cryptographes et ingénieurs en informatique.
      </p>
      <p>Suivez le compte twitter <a class="twitter" href="https://twitter.com/riporangecoin">@riporangecoin</a> 🐦</p>

      <h3>✨ Un jour de conférence</h3>
      <div class="conf-list">
        <ul>
          <li>💯 Participants </li>
          <li>🍕 Pizzas</li>
        </ul>
        <ul>
          <li>👨‍💻 100% Technique</li>
          <li><a class="btc">₿</a> 100% Bitcoin</li>
        </ul>
      </div>

      <h3>👨‍🎤 Speakers</h3>
      <div class="jumbotron">
        Si vous souhaitez soumettre une proposition de présentation, envoyez un
        mail à <a href="mailto:contact@orangecoin.rip">contact@orangecoin.rip</a> 📪
      </div>
      <h3>🎉 Sponsors</h3>
       <div class="jumbotron">
        Si vous souhaitez sponsoriser l'événement, envoyez un
        mail à <a href="mailto:contact@orangecoin.rip">contact@orangecoin.rip</a> 📪
      </div>

      <h3 id="location">🚴‍♀️  Un lieu sympa</h3>
      	<p>Théâtre Dunois, 7 rue Louise Weiss, 75013 Paris</p>
        <img src="/img/gradin.png" alt="gradin">
        <img src="/img/scene.png" alt="scene">

      <div class="copyright">
        <small>Copyright © 2020 OrangeCoinRIP</small>
      </div>

    </div>
  </div>
</section>
{{ partial "foot" . }}
