{{ partial "head.html" . }}
<section>
  <div class="home">
    <div class="home-content">
      <h1>RIP, <a class="orange">Orange Coin</a></h1>
      <p>Venez assister aux funérailles du réseau <mark>Bitcoin</mark> en
      <mark>juillet 2020</mark> à <mark>Paris.</mark></p>
      <ul>
        <li>📅 Un jour de conférence</li>
        <li>💯 Participants </li>
        <li>🍕 Pizzas</li>
        <li>👨‍💻 100% Technique</li>
        <li><a class="btc">₿</a> 100% Bitcoin</li>
      </ul>
    </div>
  </div>
</section>
{{ partial "foot" . }}
